<!doctype html>
<html ng-app="myapp">
    <head>
        <meta charset="UTF-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">

        <title>Typed Show - {{ title }}</title>

        <!-- bower:css -->
        <link rel="stylesheet" href="bower_components/bootstrap/dist/css/bootstrap.css" />
        <link rel="stylesheet" href="bower_components/bootstrap/dist/css/bootstrap-theme.css" />
        <!-- endbower -->
        <link rel="stylesheet" href="styles/style.css">
    </head>

    <body ng-controller="MainCtrl">
      <div class="container" ng-if="edit">
        <div class="header">
          <h3 class="text-muted">Typed Show</h3>
        </div>
        <hr/>
        <div class="row">
          <!-- Side bar -->
          <div class="col-xs-3">
            <div>
              <button type="button" class="btn btn-default btn-sm" ng-click="add()">
                <i class="glyphicon glyphicon-plus"></i><span>Add</span>
              </button>
              <button type="button" class="btn btn-primary btn-sm" ng-click="run()">
                <i class="glyphicon glyphicon-play"></i><span>Run</span>
              </button>
            </div>
            <h4>Slides</h4>
            <p ng-show="!texts.length">
              No slides...add one
            </p>
            <ul class="list-unstyled">
              <li ng-repeat="itm in texts">
                <a href="javascript:void(0)" ng-click="load(itm)" >
                  {{ itm.title }}
                </a>
                <i class="glyphicon glyphicon-arrow-left" ng-show="itm === selected"></i>
              </li>
            </ul>
          </div>
          <!-- Editor area -->
          <div class="col-xs-9">
            <div>
              <input type="text"
                ng-model="label" class="form-control"
                placeholder="Enter title (optional)"/>
                {{ label }}
            </div>
            <br>
            <div ng-show="!selected">
              <p>
                No slides to show here...
              </p>
            </div>
            <div ng-show="selected">
                <div class="controls">
                    <button class="btn btn-default" type="button" ng-click="remove(selected)">Delete</button>
                </div>
                <br>
                <div class="editor">
                  <ul class="nav nav-tabs">
                    <li role="presentation" ng-class="{ active: view === 'compose'}">
                      <a href="javascript:void(0)" ng-click="switch('compose')">Compose</a>
                    </li>
                    <li role="presentation" ng-class="{ active: view === 'view'}">
                      <a href="javascript:void(0)" ng-click="switch('view')">Preview</a>
                    </li>
                  </ul>
                  <div ng-show="view === 'compose'">
                    <div>
                      <label>Title</label>
                      <div>
                        <input type="text" ng-model="selected.title" class="form-control"/>
                      </div>
                    </div>
                    <div>
                      <label>Content</label>
                      <div>
                        <textarea ng-model="selected.content"
                          rows="10" class="form-control"
                          ng-trim="false"
                          ng-model="selected.content" ng-keydown="processKeydown($event)"></textarea>
                      </div>
                    </div>
                  </div>
                  <div ng-show="view === 'view'" ng-init="preview()">
                    <div class="md">
                    </div>
                  </div>
                </div>
            </div>
          </div>
        </div>
      </div>

      <!-- preview area -->
      <div ng-if="!edit" ng-init="initTyped()" class="container">
        <div>
          {{ label }}
        </div>
        <br>
        <br>
        <span id="preview" class="typed"></span>
      </div>

      <!-- bower:js -->
      <script src="bower_components/jquery/dist/jquery.js"></script>
      <script src="bower_components/bootstrap/dist/js/bootstrap.js"></script>
      <script src="bower_components/angular/angular.js"></script>
      <script src="bower_components/typed.js/dist/typed.min.js"></script>
      <script src="bower_components/markdown/lib/markdown.js"></script>
      <!-- endbower -->
      <script src="scripts/main.js"></script>
    </body>
</html>
